@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background: #2c3e50; 
  border-radius: 10px; 
  transition:  0.3s ease; 
}

::-webkit-scrollbar-thumb:hover {
  background: #2c3e50; 
}

::-webkit-scrollbar-thumb:active {
  background:#2c3e50;
}

::-webkit-scrollbar-corner {
  background: #f0f0f0;
}